
#header {
    background: url(../assets/photo-1506021356463-50ae1f6df7fb.jpg);
    background-size: cover;
    height: 800px;   
}

#header h1 {
    padding: 4rem 0 0 0;
    text-align: center;
}

#header p {
    text-align: center;
}