#skills {
    background-color: white;    
}

li {
    text-align: center;
    list-style-type: none;       
}

i {
    margin: auto; 
    text-align: center;
    padding: 0 0 2rem 0;
    color: var(--orange);
    font-size: 5rem;
}

.skill {
    text-align: center;
}