:root {
    --red: #e80d0d;
    --orange: #f98500;
    /*background-color: #a8ad5e;
    background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");*/  

    --font-one: 'Mansalva', cursive;


}

